
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{

    width: 100%;
    height: 68px;
    margin-bottom: 30px;

    background: #FDF1EB;
    display: grid;
    grid-template-columns: 0.5fr 1fr;

    
    
}

#cabeçario{
    padding-left: 256px;
    
}
.subtitle{
width: 391px;
height: 16px;
left: 36px;
top: 5px;
margin-top: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #765151;
}
.tema_pag{
width: 643px;
height: 26px;
left: 36px;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #725C5C;

}

.ISSN{
width: 105px;
height: 16px;
left: 36px;
top: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #725C5C;
}
#configurações{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#linguagem{
   


width: 97px;
height: 34px;

border: 1px solid #CCCCCC;
border-radius: 3px;
margin-top: 17px;
margin-bottom: 17px;
margin-left: 60px;
display: grid;
grid-template-columns: 1fr 2fr 1fr;


 
}
#linguagem > p{


height: 18px;

font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: auto;




/* identical to box height */


color: #333333;
}
#img_language{
width: 22px;
height: 21px;
margin-top: 5px;
margin-left: 9px;
}

#img_drop{
width: 6px;
height: 4px;
margin-top: 16px;
margin-left: 3px;

}

#perfil{
    margin-left: 10px;
}
.boas_vindas{

font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
margin-top: 17px;
text-align: right;
margin-right: 94px;
color: #333333;
}

.email{



font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: right;
margin-right: 94px;

color: #333333;

}
#image_perfil{
position: absolute;

right: 2.53%;
top: 19px;
bottom: 27.94%;
border-radius: 50%;
margin-left: 20px;
}


.aside{
left: 0px;
top: 0px;
width: 222px;
position: fixed;
height: 100%;
box-shadow: 20px 12px 13px -14px rgba(222,222,222,0.44);
}
.retangulo{
display: grid;
place-items: center;
width: 220px;
height: 68px;


background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}
.retangulo > p{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


ul{

list-style: none;
padding-left: 2%;
}
.item{

background: #FFFFFF;
border-bottom: 2px solid  #8e737336;
width: 220px;
margin-left: 0;





}
.item > p{


margin-left:20px;
font-family: 'Quicksand', sans-serif;
font-style: normal;
vertical-align: baseline;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #725C5C;
margin-left: 24px;
padding-top: 7px;
padding-bottom: 7px;
letter-spacing: normal;
}


main{
display: grid;

margin-left: 265px;

}

.conteudo{

grid-column-start: 2;
bottom: 34px;
margin-right: 45px;

}

.img-details{
    display: grid;
    grid-template-columns: 2fr 0.8fr;

}


.orange_title{

 
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    
    letter-spacing: 0.05em;
    margin-bottom: 19px;
    color: #ED7839;
}

.img_palestra{
    width: 783px;
    height: 439px;
    border-radius: 3px;
}

.um{
    position: relative;
}
#sete{
    position: absolute;
    top:35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 25px;
margin-left: 32px;
/* or 104% */

letter-spacing: 0.05em;

color: #FFFFFF;
}
#img_rosto{
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom:65px;

}
#circle{
    position: absolute;
    left: 34.9px;
    bottom:60px;
}

.nome_apresent{
position: absolute;
width: 100%;
left: 134px;
right: 473px;
bottom:92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 34px;
line-height: 25px;
/* or 74% */

letter-spacing: 0.05em;

color: #FFFFFF;

}

.universidade{
position: absolute;
width: 100%;
height: 27px;
left: 136px;
right: 506px;
bottom:60px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
/* or 125% */

letter-spacing: 0.05em;

color: #FFFFFF;

}

#logos-download{
    
    margin-left: 31px;
    width: 242px;
    height: 93px;
   
    
}

.logos{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    margin-left: 25px;
}

#download{
    background-color: #ED7839;
    width: 120px;
    height: 31px;
    margin-right: 5px;
    display: grid;
    flex-direction: column;
    
}
#download > img{
    width: 19px;
    height: 19px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
}

.download{
    position: absolute;
    margin-left: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* Grayscale-white */

color: #FFFFFF;

border-radius: 4px;

}
#star{
    background-color: #ED7839;
    width: 41px;
    height: 31px;
    margin-right: 5px;
}

.img_star{
    width: 19px;
    height: 19px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
}
#doi{
    background-color: #ED7839;
    width: 41px;
    height: 31px;
    margin-right: 5px;
}
.img_doi{
    width: 19px;
    height: 19px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
}

.citação{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 25px;
/* identical to box height, or 179% */

text-align: right;
margin-top: 12px;
margin-bottom: 5px;
letter-spacing: 0.05em;

color: #ED7839
}

#detalhes{
    width: 242px;
    height: 439px;
    border: 1px solid #ECECEC;

}

.cabeça_detalhes{
    width: 242px;
    height: 45px;
    background-color: #FDF1EB;

}

.corpo_detalhes{

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
margin-left: 15px;
padding-top: 11px;



color: #4E4E4E;
}

.tipo_apresent{
margin-left: 15px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
margin-bottom: 15px;

/* or 14px */

letter-spacing: 0.02em;
margin-top: 15px;
color: #333333;
}

.autores{
margin-left: 15px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
margin-bottom: 30px;
line-height: 22.75px;


/* or 14px */

letter-spacing: 0.02em;

color: #333333;
}

.instituicoes{
    margin-left: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 16px;
    
    /* or 14px */
    
    letter-spacing: 0.02em;
    
    color: #adadad;
    }
.bold{
    font-weight: 700;

}
/* parte do resumo*/

#resumo{
    margin-top: 30px;
    min-height: 189px;
    word-wrap: break-word;
    border: 1px solid #ECECEC;
    margin-bottom: 30px;
}
.header_padrao{
    width: 100%;
    height: 45px;
    background-color: #FDF1EB;
}

.header_padrao > p{
font-family: 'Roboto';
padding-top: 10px;
margin-left: 15px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

display: flex;
align-items: center;

color: #4d3535;
}

.conteudo_resumo{
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
margin-top: 15px;
margin-left: 15px;
color: #5C5C5C;



/* Inside auto layout */


}

.ver_mais{
    color: #ED7839;
    font-weight: 700;
}

.hidden{
    display: none;

}
.hidden_text{
line-height: 23px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
margin-top: 15px;
padding-top: 25px;
color: #5C5C5C;

}

#discussao{
    min-height: 621px;
    border: 1px solid #ECECEC;
}

.criar_topico{
    height: 248px; 
}
.title_topico{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
margin-top: 15px;
margin-left: 324.5px;
color: #ED7839;

}

#img_icones{
    margin-top: 27px;
    margin-left: 402.5px;
}

.subtitle_discussao{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 35.06px;
    width: 629px;
    margin-left: 216.5px;
    color: #595959;
}

.btn_topico{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 133px;
    height: 32px;
    border-radius: 4px;
    margin-left: 447px;
    margin-top: 14px;
}

.btn_topico > p{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 16px;
/* identical to box height, or 107% */

text-align: center;
padding-top: 7px;


color: #FFFFFF;
}

.aparecer_topico{
    height: 248px; 
    display: none;
    margin-top: 17px;
    margin-left: 16px;

}

.title_conteudo{
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #5C5C5C;
}

.assunto_conteudo{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

margin-top: 22px;

color: #ED7839;
}

#sugestao{
    height: 39px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 97%;
    
    margin-top: 1px;

}

#sugestao::placeholder{
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */
padding-left: 23.13px;
padding-top: 10px;

color: #4D4D4D;
}

#txt_conteudo{
    height: 89px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 97%;

    
    margin-top: 1px;
    

}

.footer_conteudo{
    height: 31px;
    width: 97%;
    background-color: #EAF1F2;
    border: 1px solid #CCCCCC;
    display: grid;
    grid-template-columns: 1fr 0.5fr;

  
}

.img_footer > img{
    margin-top: 11px;
    margin-left: 29.3px;
}
.btn_footer{
    width: 205.1px;
    height: 31px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    margin-left: 700.7px;

}

.btn_footer > p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 107% */
    padding-top: 7px;
    text-align: center;

    color: #FFFFFF;

}

.after_envio{
    display: none;
}

.sucesso_envio{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
margin-top: 15px;

color: #ED7839;

}

.agrad_envio{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
margin-top: 18px;
text-align: center;

color: #595959;
}

.outros_trab{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 137.5%;
/* identical to box height, or 19px */

text-align: center;
text-decoration-line: underline;
margin-top: 29px;
color: #F48F44;

}

.btn_outroTop{
    height: 32px;
    width: 235.15px;
    margin-top: 47px;
    margin-left: 407px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.btn_outroTop > p{
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 16px;
/* identical to box height, or 107% */
padding-top: 7px;
text-align: center;

color: #FFFFFF;
}