body{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 10vh 80vh  50vh 5vh;

}
header{
    position: absolute;
    width: 1146px;
    height: 68px;
    left: 0px;
    top: 0px;
    padding-left: 268px;
    
    background: #FDF1EB;
    }

aside{
    left: 0px;
    top: 0px;
    
    position: fixed;
    height: 100%;
    box-shadow: 20px 12px 13px -14px rgba(222,222,222,0.44);
}
.retangulo{
   position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 220px;
    height: 68px;
    
    
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    }
    .retangulo > p{
        position: absolute;
        left: 9.09%;
        right: 10%;
        top: 0%;
        bottom: 0%;
        
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
        }

    nav{
        margin-top: 69px;
      
    }
    ul{
        top:0%;
        list-style: none;
        padding-left: 2%;
    }
    .item{

        top: 0%;
        bottom: 5.71%;
        width: 220px;
        height: 20px;
        background: #FFFFFF;
        border-bottom: 2px solid  #8e737336;;
        
        
        }
        .item > p{
   
            left: 10.91%;
            right: 44.09%;
            top: 20%;
            bottom: 25.71%;
            margin-left:20px;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 500, medium;
            font-size: 15px;
            line-height: 19px;
            color: #725C5C;
            }
        
        

    main{
    grid-column-start: 2;
    margin-top: 100px;
    }